html {
    scroll-behavior: smooth;
}

body {
    background-color: #0A092D;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #F6F7FB;
    margin: 0px;
  }
  
div {
    overflow: hidden;
}

h1 {
    margin: 0px;
}
a {
    text-decoration: none;
    color: #F6F7FB; 
}

a:hover {
    color:  #f6f7fb;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    padding-left: 1vw;
    background-color: #0A092D;
    border-bottom: solid 1px #343744;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#navbar-login-item {
    margin-right: 1vw;
    padding: 8px;
}

#navbar-logo-item{
    margin-right: 1vw;
}

#navbar-link-item a {
    display: block;
    padding: 8px;
    color: #f6f7fb;
    text-align: center;
  }

li a{
    display: block;
    text-align: center;
    text-decoration: none;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.title{
    text-align: center;
}
.title h1{
    font-size: 20vw;
    margin: 17.5vh 0% 0% 0%;
}

.title p{
    font-size: 1.7vw;
    margin: 0% 0% 10vh 0vh;
}

.most-viewed-title {
    text-align: center;
    margin-top: 10vh;
    font-size: 5.5vw;
    font-weight: 600;
}


#quiz-boxes-container {
    display: flex;
    justify-content: space-between;
    margin: 0% 5vw 0% 5vw;
}
.quiz-title-box {
    padding: 0px;
    width: 27vw;
    height: 43vh;
    margin: 0px 15px 0px 15px;
    background-color: #2E3856;
    border-radius: 25px;
    float: center;
}


.no-decoration-link a {
    text-decoration: none;
}


.quiz-title-text {
    margin-left: 25px;
    margin-bottom: 20px;   
}
.quiz-title-text h4 {
    margin: 20px 0px 0px 0px;
}
.quiz-title-text p {
    margin: 5px 0px 0px 0px;
}

.white-box-round {
    /*Placeholder for image or text*/
    background-color: #F6F7FB;
    width: 413px;
    height: 200px;
}

#licence a {
    text-decoration: underline;
    color: #5779ff;
}

/* :) hmmmmmm.
*:hover{
    visibility: hidden;
}
*/

/*----------------------LOGIN------------------*/

#login-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20vh;
    align-content: center;
}
#login-form-background {
    background-color: #223366;;
    border-radius: 2vw;
    width: 38vw;
    height: 100vh;
}
#login-title {
    margin-top: 7%;
    text-align: center;
    color: #ffffff;
    font-size: 3vw;
}

#login-form-container {
    display: flex;
    justify-content: space-around;
    padding: 10%;
    padding-top: 0px;
}

input[type="submit"] {
    background-color: #ffffff;
    margin-top: 3vh;
    border-width: 0px;
}
input[type="submit"]:hover {
    background-color: #a4a4a4;
}

label {
    color:#ffffff;
}

input {
    border-radius: 10px !important;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10%;
}

#spacer {
    height: 2vh;
}

/* ----------------- Contact Us ---------------*/

#contact-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20vh;
    align-content: center;
}
#contact-form-background {
    background-color: #223366;;
    border-radius: 2vw;
    width: 38vw;
    height: 100vh;
}
#contact-title {
    margin-top: 7%;
    text-align: center;
    color: #ffffff;
    font-size: 3vw;
}

#contact-form-container {
    display: flex;
    justify-content: space-around;
    padding: 10%;
    padding-top: 0px;
}

input[type="submit"] {
    background-color: #ffffff;
    margin-top: 3vh;
    border-width: 0px;
}
input[type="submit"]:hover {
    background-color: #a4a4a4;
}

label {
    color:#ffffff;
}

input {
    border-radius: 10px !important;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10%;
}

#spacer {
    height: 2vh;
}

textarea#message {
    height: 30vh;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    
}

/* ----------------- footer ---------------- */
.footer{
    background:#070626;
    padding:30px 0px;
    margin-top: 20vh;
    text-align:center;
    width: 100vw;
    align-self: left;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }

    .footer .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer .row ul {
        display: inline-block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline-block;
    }
    
    .footer .row ul li{
        margin:0px 30px;
    }
    
    